
<h2>Edit my Profile</h2>


<% if (user) { %>
    <div>
      <a href="/">Index</a>
    </div>
  <% } %>

<!-- products/index.ejs -->

<h3>My previous orders:</h3>
<ul>
        <% baskets.forEach((basket) => { %>
          <li>
            <%= basket.name %> - <%= basket.quantity %> meals per week - $<%= basket.price %>
          </li>
        <%  }) %>
      </ul>


<form action="/user/edit" method="POST" id="form-container">

  


    <label for="username" name="username">My username: <b><%= user.username %></b></label>
  <br>

  <label for="newusername">New username:</label>
  <input id="newusername" type="text" name="newusername" placeholder="new username">
  <br><br>
  
  <label for="email" name="email">My email: <b><%= user.email %></b></label>
  <br>  
  <label for="newemail">Change my email</label>
  <input id="newemail" type="text" name="newemail" placeholder="new email:">
  <br><br>

  
  <label for="address" name="address">My address: <b><%= user.address %></b></label>
  <br>  

  <label for="newaddress">My new address</label>
  <input id="newaddress" type="text" name="newaddress" placeholder="new address:">  
  <br><br>


  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Update my account</button>

  
</form>